@media screen and (min-width: 900px){
  .main{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items:center ;
    justify-content: center; 
    background-color: rgb(18, 18, 18);
    padding: 30px 0;
  
  }
  .outer_div{
    width: 90vw;
    height: 300px;
    background-color: #2b2b2b;
    border-radius: 50px;
    display: flex;
  }
  
  .right_div{
    width: 50%;
  }
  .left_div{
    width: 50%;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px){}
@media screen and (max-width: 520px){}